<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="public/img/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos...">
            <button>Buscar</button>
        </div>
        <div class="payment-options">
            <p>Comprá en cuotas y sin tarjeta de créditos</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
        <div class="banner">
            <img src="public/img/img-home-banner.jpg" alt="Banner">
        </div>
        <main>
            <section>
                <h2>Basado en tu última visita</h2>
                <div class="productos">
                    <img src="public/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <p>MacBook Pro 2019</p>
                </div>
                <div class="productos">
                    <img src="public/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <p>Samsung Galaxy S10</p>
                </div>
                <div class="productos">
                    <img src="public/img/img-tv-samsung-smart.jpg" alt="SmartTV Samsung">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <p>SmartTV Samsung 43"</p>
                </div>
            </section>

            <section>
                <h2> Sección de Ofertas</h2>
                <div class="productos">
                    <img src="public/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </div>
                <div class="productos">
                    <img src="public/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <p>MacBook Pro 2019</p>
                </div>
                <div class="productos">
                    <img src="public/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <p>Samsung Galaxy S10</p>
                </div>
                <div class="productos">
                    <img src="public/img/img-tv-samsung-smart.jpg" alt="SmartTV Samsung">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <p>SmartTV Samsung 43"</p>
                </div>
            </section>
        </main>
        <footer>
            <div class="info-pie-de-pagina">
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="ingo-de-envio">
                <h3>Envío gratis desde $2.500</h3>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="Seguridad-del-sitio">
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siemrpe protegido.</p>
            </div>
        </footer>
    </header>
</body>
</html>